#board {
    /* border: white 1px dotted; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

#loading {
    width: 100%;
    margin: 0 auto;
    text-align: center;;
}
  
  .word{
    display: flex;
    margin: 0 auto;
  }
  
  .letter {
    width: 7.5%;
    height: 75px;
    width: 75px;
    border-bottom: white solid 2px;
    margin: 0 15px;
  }
  
  .letter > span {
    display: block;
    font-size: 50px;
  }
  
  
@media only screen and (min-width: 1260px) {
  #board {
    float: right;
    margin: 50px 50px 0 0;
    /* margin-right: 50px; */
    width: 70%;
  }

  #loading {
    float: right;
    margin: 50px 50px 0 0;
    /* margin-right: 50px; */
    width: 70%;
}
  

  .word{
    margin: 0 50px 0 0;
  }
  
}

@media only screen and (max-width: 1260px) {

  .letter {
    width: 7vw !important;
    height: 7vw !important;
    margin: 0 5px !important;
  }

  .letter > span {
    width: 7vw !important;
    height: 7vw !important;
    font-size: 7vw !important;
    line-height: 7vw !important;
  }
  

  
}